__pycache__/
*.py[cod]

#virtual environment
venv/
.venv/

#test
.pytest_cache/
.coverage


#environment

.env
.env.*

#IDE
.vscode/
.idea/

ai_knowledge_assistant.egg-info/
*.egg-info/
.mypy_cache/
.ruff_cache/
